.footer__container {
  width: 100%;
  margin-top: 30rem;
  background: #ff8830;
  color: white;
}
.footer__container .grup__one {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
}
.footer__container .grup__one .caja {
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container .grup__one .caja img {
  width: 60%;
  display: block;
  margin: auto;
}
.footer__container .grup__one .caja h3 {
  font-size: 1rem;
  margin: 0 0.8rem;
  padding: 1rem;
  background-color: #E00B0B;
}
.footer__container .grup__one .caja .red__social p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1rem;
}
.footer__container .grup__one .caja .red__social a {
  display: block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  color: antiquewhite;
  margin-right: 1rem;
  background-color: #fa4b00;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
.footer__container .grup__one .caja .red__social a:hover {
  color: #E00B0B;
}
.footer__container .footer__button__bar {
  margin-top: 10px;
  text-align: center;
  background-color: #E00B0B;
}