.container__main {
  width: 100%;
  background-color: whitesmoke;
  padding: 0 40px;
}
.container__main .container__content {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 19% 25% 28% 28%;
  grid-template-rows: auto;
  gap: 1px;
  grid-template-areas: "imagecero imagecero imageuno imagedos" "textuno textdos imageuno imagedos";
}
.container__main .container__content .figure__container__uno {
  grid-area: imagecero;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.container__main .container__content .figure__container__uno .image__cero {
  width: 100%;
  height: 300px;
}
.container__main .container__content .figure__container__uno .figure__title {
  text-align: center;
  color: #0000ff;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__1 {
  text-align: center;
  color: #119b4b;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__2 {
  text-align: center;
  color: #00ffc3;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__3 {
  text-align: center;
  color: #ff0000;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__4 {
  text-align: center;
  color: #ff9100;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__5 {
  text-align: center;
  color: #0088ff;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__6 {
  text-align: center;
  color: #a3a3a3;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__7 {
  text-align: center;
  color: #870000;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__8 {
  text-align: center;
  color: #4e4eed;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .figure__container__uno .figure__title__9 {
  text-align: center;
  color: #00a6ff;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .content__text__uno {
  grid-area: textuno;
}
.container__main .container__content .content__text__uno .text__uno {
  padding-left: 1.5rem;
  font-size: 18px;
  font-weight: bold;
}
.container__main .container__content .content__text__dos {
  grid-area: textdos;
}
.container__main .container__content .content__text__dos .text__dos {
  padding-left: 1.5rem;
  font-size: 15px;
  margin-top: 20px;
}
.container__main .container__content .figure__container__dos {
  grid-area: imageuno;
}
.container__main .container__content .figure__container__dos .image__uno {
  width: 100%;
  height: 550px;
}
.container__main .container__content .figure__container__dos .efecto__hover {
  width: 100%;
  height: 200px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
.container__main .container__content .figure__container__dos .efecto__hover:hover {
  background-color: rgb(17, 17, 17);
  color: white;
}
.container__main .container__content .figure__container__dos .figure__number {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #0000ff;
}
.container__main .container__content .figure__container__dos .figure__number__1 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #119b4b;
}
.container__main .container__content .figure__container__dos .figure__number__2 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #00ffc3;
}
.container__main .container__content .figure__container__dos .figure__number__3 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ff0000;
}
.container__main .container__content .figure__container__dos .figure__number__4 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ff9100;
}
.container__main .container__content .figure__container__dos .figure__number__5 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #0088ff;
}
.container__main .container__content .figure__container__dos .figure__number__6 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #a3a3a3;
}
.container__main .container__content .figure__container__dos .figure__number__7 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #870000;
}
.container__main .container__content .figure__container__dos .figure__number__8 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #4e4eed;
}
.container__main .container__content .figure__container__dos .figure__number__9 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #00a6ff;
}
.container__main .container__content .figure__container__dos .figure__p {
  width: 100%;
  padding-left: 1rem;
}
.container__main .container__content .figure__container__dos .figure__p .figure__value {
  font-size: 20px;
  font-weight: bold;
}
.container__main .container__content .figure__container__dos .figure__p .figure__label {
  opacity: 0.5;
}
.container__main .container__content .figure__container__dos .botton {
  padding: 1rem;
  text-transform: uppercase;
}
.container__main .container__content .figure__container__tres {
  grid-area: imagedos;
}
.container__main .container__content .figure__container__tres .image__dos {
  width: 100%;
  height: 550px;
}
.container__main .container__content .figure__container__tres .efecto__hover {
  width: 100%;
  height: 200px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
.container__main .container__content .figure__container__tres .efecto__hover:hover {
  background-color: rgb(17, 17, 17);
  color: white;
}
.container__main .container__content .figure__container__tres .figure__number {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #0000ff;
}
.container__main .container__content .figure__container__tres .figure__number__1 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #119b4b;
}
.container__main .container__content .figure__container__tres .figure__number__2 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #00ffc3;
}
.container__main .container__content .figure__container__tres .figure__number__3 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ff0000;
}
.container__main .container__content .figure__container__tres .figure__number__4 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #ff9100;
}
.container__main .container__content .figure__container__tres .figure__number__5 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #0088ff;
}
.container__main .container__content .figure__container__tres .figure__number__6 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #a3a3a3;
}
.container__main .container__content .figure__container__tres .figure__number__7 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #870000;
}
.container__main .container__content .figure__container__tres .figure__number__8 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #4e4eed;
}
.container__main .container__content .figure__container__tres .figure__number__9 {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #00a6ff;
}
.container__main .container__content .figure__container__tres .figure__p {
  width: 100%;
  padding-left: 1rem;
}
.container__main .container__content .figure__container__tres .figure__p .figure__value {
  font-size: 20px;
  font-weight: bold;
}
.container__main .container__content .figure__container__tres .figure__p .figure__label {
  opacity: 0.5;
}
.container__main .container__content .figure__container__tres .botton {
  padding-left: 1rem;
  text-transform: uppercase;
}
.container__main .container__article {
  width: 100%;
  background-color: white;
}
.container__main .container__article .container__bio {
  width: 100%;
  height: 400px;
}
.container__main .container__article .container__bio .bio__title {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #0000ff;
}
.container__main .container__article .container__bio .bio__title__1 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #119b4b;
}
.container__main .container__article .container__bio .bio__title__2 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #00ffc3;
}
.container__main .container__article .container__bio .bio__title__3 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #E00B0B;
}
.container__main .container__article .container__bio .bio__title__4 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #ff9100;
}
.container__main .container__article .container__bio .bio__title__5 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #0088ff;
}
.container__main .container__article .container__bio .bio__title__6 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #a3a3a3;
}
.container__main .container__article .container__bio .bio__title__7 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #870000;
}
.container__main .container__article .container__bio .bio__title__8 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #4e4eed;
}
.container__main .container__article .container__bio .bio__title__9 {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #00a6ff;
}
.container__main .container__article .container__bio .intro__bio {
  margin: 0 0 2rem 1rem;
  font-size: 22px;
  opacity: 0.8;
}
.container__main .container__article .container__bio .botton__dos {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  background: rgb(1, 4, 82);
  background: linear-gradient(143deg, rgb(1, 4, 82) 20%, rgb(0, 7, 195) 75%, rgb(0, 1, 255) 100%);
  font-size: 18px;
}
.container__main .container__article .container__bio .botton__dos__1 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  background: rgb(2, 103, 70);
  background: linear-gradient(143deg, rgb(2, 103, 70) 20%, rgb(0, 195, 121) 57%, rgb(0, 255, 132) 98%);
  font-size: 18px;
}
.container__main .container__article .container__bio .botton__dos__2 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  background: rgb(2, 103, 93);
  background: linear-gradient(143deg, rgb(2, 103, 93) 20%, rgb(0, 195, 176) 53%, rgb(0, 255, 230) 100%);
  font-size: 18px;
}
.container__main .container__article .container__bio .botton__dos__3 {
  background: rgb(82, 1, 1);
  background: linear-gradient(143deg, rgb(82, 1, 1) 14%, rgb(195, 0, 0) 40%, rgb(255, 0, 0) 100%);
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
}
.container__main .container__article .container__bio .botton__dos__4 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(134, 77, 1);
  background: linear-gradient(143deg, rgb(134, 77, 1) 14%, rgb(255, 124, 0) 40%, rgb(255, 111, 0) 100%);
}
.container__main .container__article .container__bio .botton__dos__5 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(8, 40, 68);
  background: linear-gradient(143deg, rgb(8, 40, 68) 14%, rgb(0, 66, 124) 48%, rgb(0, 136, 255) 100%);
}
.container__main .container__article .container__bio .botton__dos__6 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(228, 225, 225);
  background: linear-gradient(143deg, rgb(228, 225, 225) 14%, rgb(158, 158, 158) 48%, rgb(50, 50, 50) 100%);
}
.container__main .container__article .container__bio .botton__dos__7 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(52, 0, 0);
  background: linear-gradient(143deg, rgb(52, 0, 0) 14%, rgb(113, 0, 0) 55%, rgb(180, 0, 0) 100%);
}
.container__main .container__article .container__bio .botton__dos__8 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(37, 37, 113);
  background: linear-gradient(143deg, rgb(37, 37, 113) 14%, rgb(54, 54, 152) 55%, rgb(84, 84, 255) 100%);
}
.container__main .container__article .container__bio .botton__dos__9 {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  font-size: 18px;
  background: rgb(0, 52, 80);
  background: linear-gradient(143deg, rgb(0, 52, 80) 14%, rgb(0, 121, 186) 55%, rgb(0, 166, 255) 100%);
}