.back {
  background-color: whitesmoke;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 52% 1% 47%;
  grid-template-rows: -webkit-min-content;
  grid-template-rows: min-content;
  grid-template-areas: "img ... form ";
}

.img__left {
  grid-area: img;
}
.img__left .img__style {
  width: 100%;
  height: 100vh;
}

.login .formulario-login {
  height: 100vh;
  width: 70%;
  margin: auto;
  padding: 20px 30px;
}
.login .formulario-login .text {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  margin-top: 40px;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 2px 5px #E00B0B;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.login .form___p {
  color: black;
}
.login .controls {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 2rem;
  font-size: 14px;
  font-weight: bold;
  border: solid 1px rgba(111, 110, 110, 0.624);
}
.login .bottons {
  width: 100%;
  height: 40px;
  border: none;
  color: white;
  background: #E00B0B;
  margin-bottom: 19px;
  cursor: pointer;
}
.login p {
  margin-bottom: 5px;
}
.login p .questions {
  color: #E00B0B;
}