.pilotos__container {
  width: 100%;
}
.pilotos__container .pilotos__title {
  padding: 2rem;
  margin: 2rem 1rem;
  border-top: 0.6rem solid black;
  border-right: 0.6rem solid black;
  border-radius: 15px;
}
.pilotos__container .pilotos__title h2 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.pilotos__card__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pilotos__card__container .pilotos__card {
  width: 400px;
  height: 400px;
  margin: 1.5rem;
}
.pilotos__card__container .pilotos__card .animation {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation:hover {
  border-top: 3px solid #0000ff;
  border-right: 3px solid #0000ff;
  border-bottom: 3px solid #0000ff;
}
.pilotos__card__container .pilotos__card .animation2 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation2:hover {
  border-top: 3px solid #119b4b;
  border-right: 3px solid #119b4b;
  border-bottom: 3px solid #119b4b;
}
.pilotos__card__container .pilotos__card .animation3 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation3:hover {
  border-top: 3px solid #00ffc3;
  border-right: 3px solid #00ffc3;
  border-bottom: 3px solid #00ffc3;
}
.pilotos__card__container .pilotos__card .animation4 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation4:hover {
  border-top: 3px solid #ff0000;
  border-right: 3px solid #ff0000;
  border-bottom: 3px solid #ff0000;
}
.pilotos__card__container .pilotos__card .animation5 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation5:hover {
  border-top: 3px solid #ff9100;
  border-right: 3px solid #ff9100;
  border-bottom: 3px solid #ff9100;
}
.pilotos__card__container .pilotos__card .animation6 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation6:hover {
  border-top: 3px solid #0088ff;
  border-right: 3px solid #0088ff;
  border-bottom: 3px solid #0088ff;
}
.pilotos__card__container .pilotos__card .animation7 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation7:hover {
  border-top: 3px solid #a3a3a3;
  border-right: 3px solid #a3a3a3;
  border-bottom: 3px solid #a3a3a3;
}
.pilotos__card__container .pilotos__card .animation8 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation8:hover {
  border-top: 3px solid #870000;
  border-right: 3px solid #870000;
  border-bottom: 3px solid #870000;
}
.pilotos__card__container .pilotos__card .animation9 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation9:hover {
  border-top: 3px solid #4e4eed;
  border-right: 3px solid #4e4eed;
  border-bottom: 3px solid #4e4eed;
}
.pilotos__card__container .pilotos__card .animation10 {
  border-radius: 10px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  cursor: pointer;
}
.pilotos__card__container .pilotos__card .animation10:hover {
  border-top: 3px solid #00a6ff;
  border-right: 3px solid #00a6ff;
  border-bottom: 3px solid #00a6ff;
}
.pilotos__card__container .pilotos__card .card__numero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pilotos__card__container .pilotos__card .card__numero .numero {
  padding: 1.3rem;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: black;
}
.pilotos__card__container .pilotos__card .card__numero .label {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.9rem;
}
.pilotos__card__container .card__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pilotos__card__container .card__name .bandera__img {
  width: 4rem;
  height: 3rem;
  border-radius: 10px;
  margin: 10px 1rem;
}
.pilotos__card__container .card__name .piloto__name1 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #0000ff;
}
.pilotos__card__container .card__name .piloto__name2 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #119b4b;
}
.pilotos__card__container .card__name .piloto__name3 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #00ffc3;
}
.pilotos__card__container .card__name .piloto__name4 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #ff0000;
}
.pilotos__card__container .card__name .piloto__name5 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #ff9100;
}
.pilotos__card__container .card__name .piloto__name6 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #0088ff;
}
.pilotos__card__container .card__name .piloto__name7 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #a3a3a3;
}
.pilotos__card__container .card__name .piloto__name8 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #870000;
}
.pilotos__card__container .card__name .piloto__name9 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #4e4eed;
}
.pilotos__card__container .card__name .piloto__name10 {
  margin: 1rem 1rem;
  padding: 0 1rem;
  color: black;
  border-left: 6px solid #00a6ff;
}
.pilotos__card__container .name__team {
  opacity: 0.7;
  margin: 10px 1rem;
  color: black;
}
.pilotos__card__container .card_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pilotos__card__container .card_img .number__img {
  margin: 8rem 0 0 0;
  width: 7rem;
  height: 5rem;
}