.container__main {
  width: 100%;
  background-color: whitesmoke;
  padding: 0 40px;
}
.container__main .container__content {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 20% 20% 30% 30%;
  grid-template-rows: auto;
  gap: 1px;
  grid-template-areas: "imagecero imagecero imageuno imagedos" "textuno textdos imageuno imagedos";
}
.container__main .container__content .figure__container__uno {
  grid-area: imagecero;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.container__main .container__content .figure__container__uno .image__cero {
  width: 100vh;
  max-width: 500px;
  height: 300px;
}
.container__main .container__content .figure__container__uno .figure__title {
  text-align: center;
  color: #E00B0B;
  font-size: 2rem;
  font-weight: bold;
}
.container__main .container__content .content__text__uno {
  grid-area: textuno;
}
.container__main .container__content .content__text__uno .text__uno {
  padding-left: 1.5rem;
  font-size: 18px;
  font-weight: bold;
}
.container__main .container__content .content__text__dos {
  grid-area: textdos;
  padding-left: 1.5rem;
}
.container__main .container__content .content__text__dos .text__dos {
  font-size: 15px;
  margin-top: 20px;
}
.container__main .container__content .figure__container__dos {
  margin-top: 2rem;
  grid-area: imageuno;
}
.container__main .container__content .figure__container__dos .image__uno {
  width: 100%;
  height: 550px;
}
.container__main .container__content .figure__container__dos .efecto__hover {
  width: 100%;
  height: 180px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
.container__main .container__content .figure__container__dos .efecto__hover:hover {
  background-color: rgb(17, 17, 17);
  color: white;
}
.container__main .container__content .figure__container__dos .figure__number {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #E00B0B;
}
.container__main .container__content .figure__container__dos .figure__p {
  width: 100%;
  padding-left: 1rem;
}
.container__main .container__content .figure__container__dos .figure__p .figure__value {
  font-size: 20px;
  font-weight: bold;
}
.container__main .container__content .figure__container__dos .figure__p .figure__label {
  opacity: 0.5;
}
.container__main .container__content .figure__container__dos .botton {
  padding: 1rem;
  text-transform: uppercase;
}
.container__main .container__content .figure__container__tres {
  margin-top: 2rem;
  grid-area: imagedos;
}
.container__main .container__content .figure__container__tres .image__dos {
  width: 100%;
  height: 550px;
}
.container__main .container__content .figure__container__tres .efecto__hover {
  width: 100%;
  height: 180px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}
.container__main .container__content .figure__container__tres .efecto__hover:hover {
  background-color: rgb(17, 17, 17);
  color: white;
}
.container__main .container__content .figure__container__tres .figure__number {
  padding-left: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: #E00B0B;
}
.container__main .container__content .figure__container__tres .figure__p {
  width: 100%;
  padding-left: 1rem;
}
.container__main .container__content .figure__container__tres .figure__p .figure__value {
  font-size: 20px;
  font-weight: bold;
}
.container__main .container__content .figure__container__tres .figure__p .figure__label {
  opacity: 0.5;
}
.container__main .container__content .figure__container__tres .botton {
  padding-left: 1rem;
  text-transform: uppercase;
}
.container__main .container__article {
  width: 100%;
  background-color: white;
}
.container__main .container__article .container__bio {
  width: 100%;
  height: 400px;
}
.container__main .container__article .container__bio .bio__title {
  padding: 1.5rem 1rem;
  font-weight: bold;
  font-size: 45px;
  color: #E00B0B;
}
.container__main .container__article .container__bio .intro__bio {
  margin: 0 0 2rem 1rem;
  font-size: 22px;
  opacity: 0.8;
}
.container__main .container__article .container__bio .botton__dos {
  margin: 1rem;
  padding: 1.2rem 1.7rem;
  border-radius: 30px;
  background: rgb(168, 0, 0);
  background: linear-gradient(143deg, rgb(168, 0, 0) 20%, rgb(195, 0, 0) 50%, rgb(255, 0, 0) 80%);
  font-size: 18px;
}