/* ---------- MOBILE ----------  */
@media screen and (min-width: 425px) and (max-width: 550px) {
  .container__topbar {
    display: none;
  }
  .nav__bar {
    display: none;
  }
  .container__topbar__responsive {
    width: 100%;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #DC0000;
  }
  .top__bar__icons__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__topbar__responsive .iconos {
    margin: 0 0.6rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .container__topbar__responsive .text {
    color: whitesmoke;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 5px #DC0000;
  }
  .nav__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grillas {
    display: none;
  }
  #grillas__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #grillas__responsive .calendar__container {
    margin-left: 0;
    border: solid 8px #E00B0B;
  }
  #grillas__responsive .container__calendar__header {
    margin-left: 3rem;
    background-color: whitesmoke;
    font-weight: 1000;
    color: #E00B0B;
    font-size: 1.5rem;
    position: absolute;
  }
  #grillas__responsive .container__calendar__header p {
    text-transform: uppercase;
  }
  .aside__container__bar {
    display: none;
  }
  #aside__responsive {
    width: 100%;
    display: block;
  }
  #aside__responsive .container__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #aside__responsive .container__bar h2 {
    color: #E00B0B;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  #aside__responsive .back {
    width: 100%;
    display: block;
  }
  #aside__responsive .back .img__left {
    display: none;
  }
  .footer__container {
    margin-top: 14rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container .footer__logo {
    width: 100%;
  }
  .footer__container .footer__logo .border1 {
    display: none;
  }
  .footer__container .footer__logo .border2 {
    display: none;
  }
  .list__prin__container {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto 2rem;
    -webkit-box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
  }
  .list__prin__container .list_container .list__subcontainer {
    width: 100%;
  }
  .list__prin__container .list_container .list__subcontainer .lista__cell {
    padding: 1rem;
  }
  .team__card__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3rem;
  }
  .team__card__container .team__card {
    width: 423px;
    height: 300px;
    margin: 1.5rem 0;
  }
  .container__main {
    width: 100%;
  }
  .container__main .container__content {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "imagecero imagecero" "textuno textdos" "imageuno imagedos";
  }
  .container__main .container__content .content__text__uno {
    grid-area: textuno;
  }
  .container__main .container__content .content__text__uno .text__uno {
    padding-left: 1.5rem;
    font-size: 13px;
    font-weight: bold;
  }
  .container__main .container__content .content__text__dos {
    grid-area: textdos;
  }
  .container__main .container__content .content__text__dos .text__dos {
    padding-left: 1.5rem;
    font-size: 12px;
    margin-top: 17px;
  }
  .container__main .container__content .figure__container__dos {
    grid-area: imageuno;
  }
  .container__main .container__content .figure__container__dos .image__uno {
    width: 100%;
    height: 350px;
  }
  .container__main .container__content .figure__container__dos .figure__p {
    width: 100%;
    padding-left: 1rem;
  }
  .container__main .container__content .figure__container__dos .figure__p .figure__value {
    font-size: 13px;
    font-weight: bold;
  }
  .container__main .container__content .figure__container__tres {
    grid-area: imagedos;
  }
  .container__main .container__content .figure__container__tres .image__dos {
    width: 100%;
    height: 350px;
  }
  .container__main .container__content .figure__container__tres .figure__p {
    width: 100%;
    padding-left: 1rem;
  }
  .container__main .container__content .figure__container__tres .figure__p .figure__value {
    font-size: 13px;
    font-weight: bold;
  }
}
/* ---------- TABLET ----------  */
@media screen and (min-width: 551px) and (max-width: 980px) {
  .container__topbar {
    display: none;
  }
  .nav__bar {
    display: none;
  }
  .container__topbar__responsive {
    width: 100%;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #DC0000;
  }
  .top__bar__icons__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__topbar__responsive .iconos {
    margin: 0 0.7rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .container__topbar__responsive .text {
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 5px #DC0000;
  }
  .nav__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .grillas {
    display: none;
  }
  #grillas__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #grillas__responsive .calendar__container {
    margin-left: 0;
    border: solid 8px #E00B0B;
  }
  #grillas__responsive .container__calendar__header {
    margin-left: 3rem;
    font-weight: 1000;
    color: #E00B0B;
    font-size: 1.5rem;
    position: absolute;
  }
  #grillas__responsive .container__calendar__header p {
    text-transform: uppercase;
  }
  .aside__container__bar {
    display: none;
  }
  #aside__responsive {
    width: 100%;
    display: block;
  }
  #aside__responsive .container__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #aside__responsive .container__bar h2 {
    color: #E00B0B;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .back {
    width: 100%;
    display: block;
  }
  .back .img__left {
    display: none;
  }
  .footer__container {
    margin-top: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__container .footer__logo {
    width: 100%;
  }
  .footer__container .footer__logo .border1 {
    padding-left: 10vh;
    border-bottom: 2px solid #ffffff;
  }
  .footer__container .footer__logo .border2 {
    padding-right: 10vh;
    border-bottom: 2px solid #ffffff;
  }
  .team__card__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3rem;
  }
  .team__card__container .team__card {
    width: 536px;
    height: 300px;
    margin: 1.5rem 0;
  }
  .container__main {
    width: 100%;
  }
  .container__main .container__content {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    gap: 1px;
    grid-template-areas: "imagecero imagecero" "textuno textdos" "imageuno imagedos";
  }
  .container__main .container__content .figure__container__uno {
    grid-area: imagecero;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .container__main .container__content .figure__container__dos {
    grid-area: imageuno;
  }
  .container__main .container__content .figure__container__dos .image__uno {
    width: 100%;
    height: 450px;
  }
  .container__main .container__content .figure__container__dos .figure__p {
    width: 100%;
    padding-left: 1rem;
  }
  .container__main .container__content .figure__container__dos .figure__p .figure__value {
    font-size: 15px;
    font-weight: bold;
  }
  .container__main .container__content .figure__container__tres {
    grid-area: imagedos;
  }
  .container__main .container__content .figure__container__tres .image__dos {
    width: 100%;
    height: 450px;
  }
  .container__main .container__content .figure__container__tres .figure__p {
    width: 100%;
    padding-left: 1rem;
  }
  .container__main .container__content .figure__container__tres .figure__p .figure__value {
    font-size: 15px;
    font-weight: bold;
  }
}
/* ---------- DESKTOP ----------  */
@media screen and (min-width: 981px) and (max-width: 1400px) {
  .container__topbar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container__topbar__responsive {
    display: none;
  }
  .nav__responsive {
    display: none;
  }
  .container__main__responsivde {
    display: none;
  }
  .grillas {
    width: 100%;
    display: grid;
  }
  .grillas__responsive {
    display: none;
  }
  .aside__container__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}