@import "./nav.scss";
@import "./footer.scss";
@import "./login.scss";
@import "./result.scss";
@import "./pilotos.scss";
@import "./teams.scss";
@import "./404.scss";
@import "./Responsive.scss";

body {
    overflow-x: hidden;
}

.carousel-inner {
    width: 100%;
    margin: 2rem 0;
        .carousel-item {
        width: 100%;
        height: 550px;
        .imagen-1 {
            height: 700px;
        }
        
        .imagen-2 {
            height: 585px;
        }
        
        .imagen-3 {
            height: 600px;
        }
    }
}

.grillas {
    width: 100%;
    display: grid;
    grid-template-columns: 35% 30% 5% 25%;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    "calendario calendario barralateral barralateral";
    .container__main {
        width: 100%;
        border-radius: 5px ;
        grid-area: calendario;
        .calendar__container {
            background-color: whitesmoke;
            margin-left: 2rem;
            padding-top: 2rem;
            border-top: solid 8px #fa4b00;
            border-right: solid 8px #fa4b00;
            border-bottom: solid 8px #fa4b00;
            border-radius: 7px;
            .calendar__content {
                width: 100%;
                border-spacing: 0;
                .calendar__row {
                    cursor: pointer;
                    transition: all 300ms;
                    &:hover {
                        transform: scale(1.08);
                    }
                    .calendar__cell {
                        padding: 2rem;
                        .calendar__value {
                            display: block;
                            font-size: 18px;
                        }
                        .calendar__img {
                            width: 80px;
                            height: 45px;
                        }
                        .calendar__label {
                            font-size: 13px;
                        }
                        .anuncio {
                            color: #DC0000;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        .container__calendar__header {
            margin-left: 2rem;
            padding: 0 3rem;                                                                                                                                                                                                                                                                                                                                                                             
            background-color: whitesmoke;
            font-weight: 1000;
            color: #E00B0B;
            font-size: 2rem;
            position: absolute;
            p {
                text-transform: uppercase
            }
        }
    }
}

.aside__container__bar {
    grid-area: barralateral;
    width: 100%;
    h2 {
        color: #E00B0B;    
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;

    }
    .container__bar {
        display: flex;
        height: 300px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .card__bar {
            width: min-content;
            height: 380px;
            background-color: whitesmoke;
            border-radius: 8px;
            border-bottom: 2px solid gray;
            border-right: 2px solid gray;
            margin: 11px 0;

            text-align: center;
            transition: all 0.25s;

            a{
                color: #000000;
            }

            &:hover {
                transform: scale(1.05);
                border-bottom: 2px solid red;
                border-right: 2px solid red;
            }
            h3 {
                margin:.8rem 0;
                font-size: 1rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            img {
                width: 305px;
                height: 200px;
                background-position: center;
                background-size: cover;
            }
            p {
                padding: 1rem;
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
            }           
        }
    }
}

.card__grid {
    h2 {
        color: #E00B0B;    
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        margin: 1rem 2rem
    }
}

.card__container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    "fr1 fr2 fr3 fr4"
    ;
    margin: 1rem 1rem;
            .card__bar {
                width: 100%;
                background-color: whitesmoke;
                border-radius: 8px;
                border-bottom: 2px solid gray;
                border-right: 2px solid gray;
                margin: 0 8px;
                text-align: center;
                transition: all 0.25s;
                .fr1{ grid-area: fr1;}
                .fr2 {grid-area: fr2;}
                .fr3 {grid-area: fr3;}
                .fr4 {grid-area: fr4;}
    
                a{
                    color: #000000;
                }
                
                &:hover {
                    transform: scale(1.05);
                    border-bottom: 2px solid red;
                    border-right: 2px solid red;
                }
    
                h3 {
                    margin:.8rem 0;
                    font-size: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                }
                img {
                    width: 100%;
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                }
                p {
                    font-size: 1rem;
                    font-weight: 300;
                }
            }
        }