
#table__backgraund {
    background-color: white;
    background-image: none;
    margin: 0;
    padding: 0;
    height: 100px;
}

#table__result {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: "Inter UI", system-ui
}

.list__prin__container {
    width: 100%;
    max-width: 800px;
    margin: 2rem auto 2rem;
    box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px ;
    .list_container{
        .list__title {
            margin-top: 3rem;
            padding: 3rem 2rem ;
            background-color: #DC0000;
            border-top-left-radius:.4rem ;
            border-top-right-radius: .4rem;
            color: white;
            h5 {
                margin-bottom: 2rem;
                text-transform: uppercase;
                color: white;
            }
        }
    }
    .list__subcontainer{
        .list__table {
            width: 100%;
            border-spacing: 0;
            .list_row {
                cursor: pointer;
                transition: 300ms;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 15px 28px rgba(0, 0, 0, 0.1), 0px 5px 12px rgba(0, 0, 0, 0.08);
                    transition: all 300ms ease;
                }
            }
            .lista__cell {
                padding: 2rem;
            }
            .list__value {
                display: block;
                font-size: 18px;
            }

            .ctr {
                text-align: center;
            }

            .oro {
                background-color: goldenrod;
            }

            .plata {
                background-color: silver;
            }

            .bronce {
                background-color: burlywood;
            }
            .list__label {
                font-size: 13px;
                opacity: 0.7;
            }      
        }
    }
}