.team__container {
    width: 100%;
    .team__title {
        padding: 2rem;
        margin: 2rem 0;
        border-top: .6rem solid black;
        border-right: .6rem solid black;
        border-radius: 15px;
    

        h2{
            font-size: 5rem;
            font-weight: bold;
            font-family: 'Anton', sans-serif;
            text-transform: uppercase;
        }
    }
}

.team__card__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3rem;
    .team__card {
        width: 630px;
        height: 300px;
        margin: 1.5rem 0;
       .animation {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #0000ff;
            border-right: solid 3px #0000ff;
         }
       }
       .animation1 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #119b4b ;
            border-right: solid 3px #119b4b;
         }
       }
       .animation2 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #00ffc3;
            border-right: solid 3px #00ffc3;
         }
       }
       .animation3 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #ff0000;
            border-right: solid 3px #ff0000
         }
       }
       .animation5 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #0088ff;
            border-right: solid 3px #0088ff;
         }
       }
       .animation4 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #ff9100;
            border-right: solid 3px #ff9100;
         }
       }
       .animation6 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #a3a3a3;
            border-right: solid 3px #a3a3a3;
         }
       }
       .animation7 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #870000;
            border-right: solid 3px #870000;
         }
       }
       .animation8 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #4e4eed;
            border-right: solid 3px #4e4eed;
         }
       }
       .animation9 {
        border-top: solid 3px #000;
        border-right: solid 3px #000;
        border-top-right-radius: 10px;
        margin-top: 40px;
        padding-right: 10px;
        padding-top: 10px;
        padding-left: 10px;
        transition: 1s;
        &:hover {
            border-top: solid 3px #00a6ff;
            border-right: solid 3px #00a6ff;
         }
       }
         .team__card__numero {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(104, 104, 104) ;

            .numero {
                padding: 1.3rem;
                margin: 0 10px;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                color: black;
            }

            .label {
                border-radius: 10px;
                background-color: black;
                color: white;
                font-weight: bold;
                padding: .3rem .9rem;
            }
            }
    }
    .team__card__name {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        .color{
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #0000ff;
        }
        .color1 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #119b4b;
        }
        .color2 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #00ffc3;
        }
        .color3 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #ff0000;
        }
        .color4 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #0088ff;
        }
        .color5 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #ff9100;
        }
        .color6 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #a3a3a3;
        }
        .color7 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #870000;
        }
        .color8 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #4e4eed;
        }
        .color9 {
            margin-right: 10px;
            font-size: 35px;
            font-weight: bold;
            color: #00a6ff;
        }
        
        

        .logo__team__img {
            width: 4rem;
            height: 3rem;
            border-radius: 10px;
            margin: 10px 1rem;
        }

        .team__name {
            margin: 10px 1rem;
            color: black;
        }
    }

    .team__card__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}
